<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coach Leads</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style>
         @media (max-width: 500px) {
            .responsive-padding {
                padding: 30px 20px !important;
            }

            .responsive-padding-two{
              padding: 15px !important;
            }
            .margin_left{
                margin-left: 0 !important;
            }
        }
    </style>
    </head>
<body style="margin: 0; font-family: 'Montserrat', sans-serif; background: #DEDEDE;">
    

    <table  border="0" cellspacing="0" cellpadding="0" width="360px" style="background: #ffffff; margin: 0 auto;">
        <thead>
            <tr>
                <td style="padding: 15px 0;border-bottom: 1px solid rgba(0,0,0,0.1);">
                    <img src="https://f005.backblazeb2.com/file/bmpcdn90/asset/images/email/logo.png" width="120px" height="40px" style="margin: 0 auto; display: block;">
                </td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="responsive-padding" style="padding: 30px 20px 30px 0px;">
                    <ul style="list-style: none; padding: 0; margin: 0;">
                        <li style="font-size: 20px; line-height: 35px; font-weight: 500; letter-spacing: -0.03em; color: #1E212F;">Hello</li>
                        <li style="font-size: 18px; line-height: 35px; font-weight: 400; letter-spacing: -0.03em; color: #1E212F; margin-bottom: 1.2rem;">We have received a request to verify your identity. Please use the following OTP (One-Time Password) to complete the verification process:
                        </li>
                        <li style="font-size: 18px; line-height: 35px; font-weight: 400; letter-spacing: -0.03em; color: #1E212F;margin-bottom: 1.2rem;">OTP: <span style="color: #FB5D52;">{{otp}}</span> 
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="padding: 0 20px 30px 20px;">

                    <ul class="responsive-padding-two" style="list-style: none; margin: 0; padding: 15px 15px 15px 0px; background: #FFF0EE; border-radius: 15px;">
                       <li style="font-weight: 400;font-size: 18px; line-height: 35px; letter-spacing: -0.03em; color: #1E212F;margin-bottom: 1.2rem;">
                        Note: This OTP is valid for 10 minutes. If you did not request this OTP, please ignore this email or contact our support team.
                       </li>
                      <li style="font-weight: 400;font-size: 18px; line-height: 35px; letter-spacing: -0.03em; color: #1E212F;margin-bottom: 1.2rem;">
                        Thank you for choosing BookMyPlayer. We are excited to help you.
                       </li>
                       <li style="font-weight: 400;font-size: 18px; line-height: 35px; letter-spacing: -0.03em; color: #1E212F;">
                        Best regards,
                       </li>
                       <li style="font-weight: 700;font-size: 22px; line-height: 35px; letter-spacing: -0.03em; color: #1E212F; margin-bottom: 1.2rem;">
                       Team BookMyPlayer.
                       </li>
                       <li style="font-weight: 400;font-size: 18px; line-height: 35px; letter-spacing: -0.03em; color: #1E212F;">
                        Website: bookmyplayer.com
                       </li>
                       <li style="font-weight: 700;font-size: 18px; line-height: 35px; letter-spacing: -0.03em; color: #1E212F;">
                        Email: care@bookmyplayer.com 
                       </li>
                    </ul>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td style="background: url(https://f005.backblazeb2.com/file/bmpcdn90/asset/images/email/email-templete-footer-bg.jpg) no-repeat center center / cover; padding: 28px 0;"
                    colspan="3">
                    <table align="center" style="width: 100%; border-collapse: collapse;">
                        <tr>
                            <td
                                style="text-align: center; border-bottom: 1px solid rgba(255, 255, 255, 0.50); padding-bottom: 38px;">
                                <h4
                                    style="font-size: 21px; line-height: 26px; font-weight: 700; color: #FFFFFF; margin: 0; padding-top: 20px;">
                                    Get In Touch</h4>
                                <a style="text-decoration: none; font-size: 15px; line-height: 1; font-weight: 500; color: #ffffff; margin: 19px 0 28px 0; display: inline-flex; align-items: center;"
                                    href="mailto:care@bookmyplayer.com">
                                    <img src="https://f005.backblazeb2.com/file/bmpcdn90/asset/images/email/email.icon.png"
                                        style="vertical-align: middle; margin-right: 9px;">
                                    care@bookmyplayer.com
                                </a>

                                <table align="center" style="margin: 20px auto;">
                                    <tr>
                                        <td style="text-align: center;">
                                            <a style="display: inline-block; width: 38px; height: 38px; text-decoration: none; color: #ffffff; line-height: 38px; text-align: center; vertical-align: middle;"
                                                href="https://www.facebook.com/bookmyplayerofficial">
                                                <img src="https://f005.backblazeb2.com/file/bmpcdn90/asset/images/email/facebook.png
                                                " alt="" style="margin:auto; " />
                                            </a>
                                        </td>
                                        <td style="text-align: center;">
                                            <a style="display: inline-block; width: 38px; height: 38px; text-decoration: none; color: #ffffff; line-height: 38px; text-align: center; vertical-align: middle;"
                                                href="#">
                                                <img src="https://f005.backblazeb2.com/file/bmpcdn90/asset/images/email/twitter.png"
                                                    alt="" style="margin:auto;" />
                                            </a>
                                        </td>
                                        <td style="text-align: center;">
                                            <a style="display: inline-block; width: 38px; height: 38px; text-decoration: none; color: #ffffff; line-height: 38px; text-align: center; vertical-align: middle;"
                                                href="https://www.instagram.com/bookmyplayerofficial">
                                                <img src="https://f005.backblazeb2.com/file/bmpcdn90/asset/images/email/instagram.png"
                                                    alt="" style="margin:auto;" />
                                            </a>
                                        </td>
                                        <td style="text-align: center;">
                                            <a style="display: inline-block; width: 38px; height: 38px; text-decoration: none; color: #ffffff; line-height: 38px; text-align: center; vertical-align: middle;"
                                                href="https://www.linkedin.com/company/bookmyplayer/">
                                                <img src="https://f005.backblazeb2.com/file/bmpcdn90/asset/images/email/linkedin.png"
                                                    alt="" style="margin:auto;" />
                                            </a>

                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="text-align: center; font-size: 13.44px; line-height: 1; font-weight: 500; color: #ffffff; padding: 14px 0;">
                                <a style="text-decoration: none; color: #ffffff;" href="https://www.bookmyplayer.com/privacy">Privacy </a> &nbsp; | &nbsp;
                                <a style="text-decoration: none; color: #ffffff;" href="https://www.bookmyplayer.com/terms">Terms</a>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; font-size: 13.44px; font-weight: 500; color: #ffffff; padding: 0 30px;"
                                colspan="3">
                                ©2024 <a href="https://www.bookmyplayer.com" target="_blank"><span style="color: #FB5D52; text-decoration: underline;">BookMyPlayer</span></a> All
                                Rights and Reserved.
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tfoot>
    </table>



</body>
</html>